@import 'fonts.scss';
*{
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
  direction: rtl !important;
  font-family: Vazirmatn;
}
.bg-blue{
  background-color:rgba(11, 138, 225, 1);
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  padding: 16px 20px ;
  font-size: 18px;
  font-weight: bold;
}
.bg-pink {
  background-color: rgba(238, 37, 86, 1);
  color:white;
  border:none;
  cursor: pointer;
  border-radius: 40px ;
  padding: 16px 20px;
  font-size: 14px;
  font-weight: bold;

}
.bg-red {
  width: 47px;
  height: 32px;
  font-weight: 500;
  font-size: 14px;
  background-color: #DC2626;
  color: white;
  border-radius: 2px;
}

.btn-custom {
  border: 1px solid white;
  padding-top: 15px;
  border-radius: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
}
