@media (min-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

p, h2, h3, h4, h5, h6, span, a {
  font-family: YekanBakh;
}

h1 {
  font-family: YekanBakh-Bold;
}
// responsive in size mobile
@media screen and (max-width: 600px) {
  // responsive header detail info character
  .detailInfo_res{
    display: flex !important;
    flex-direction: column-reverse !important ;
  }
  .detailInfo_img_res{
    width: 80% !important;
  }
  .logo_res{
    margin-right: 80%!important;
  }
  .img_section{
    display: flex !important;
    justify-content: center !important;
  }
  .section_btn{
    display: flex !important;
    justify-content: center !important;
  }

}